/* RESET */
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
.flex-center, footer .textosCajasFooter, main .textosCajas, main .cajasTestimonios, main .clientesFelices, main .bannerAcercaDe, .card, .cuadroSucursales, .parrafoPedidos, main .imagenMainHeader {
  display: flex;
  justify-content: center;
}

.widthPaddingAcercaDe, main .nuestrosMediosDePago, main .empresaFamiliar, main .compraProductosDeCalidad {
  width: 33%;
  padding: 10px;
}

.divsGridHistoria, .imagen4, .imagen3, .imagen2, .imagen1 {
  width: 450px;
  height: 350px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

main .bannerAcercaDe {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  padding: 80px;
  background-color: rgb(228, 239, 231);
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

main {
  padding-bottom: 70px;
}
main .tituloMainHeader {
  font-weight: 700;
  font-size: 50px;
}
main .mainHeader {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}
main .imagenMainHeader {
  color: white;
  flex-flow: column wrap;
  text-align: center;
}

.parrafoPedidos {
  align-items: center;
  padding: 120px 100px 0;
  font-size: 1.3rem;
  font-weight: 600;
  font-style: italic;
}

@media all and (max-width: 768px) {
  .tituloMainHeader {
    top: 150px;
    left: 220px;
    font-size: 3rem;
  }
}
.testimonio_1:hover {
  transform: scale(1.2);
  padding: 10px;
}

.testimonio_2:hover {
  transform: scale(1.2);
  padding: 10px;
}

.testimonio_3:hover {
  transform: scale(1.2);
  padding: 10px;
}

/*  VIEWS */
.imagenSucursales {
  background-image: url(../img/sucursales.jpg);
}

.cuadroSucursales {
  gap: 20px;
  padding: 80px 40px;
}

.card-body {
  margin-bottom: 0px;
}

.card {
  text-align: center;
  align-items: center;
  list-style-type: none;
}
.card .btn-primary {
  background-color: black;
}

.mapaSucursal {
  border-top: solid 1px gray;
  width: 100%;
}
.mapaSucursal .googleMaps {
  height: 263.93px;
  width: 100%;
}

@media all and (max-width: 771px) {
  .cuadroSucursales {
    flex-direction: column;
    padding: 80px 20px;
    margin: 0 auto;
  }
  .cuadroSucursales div .googleMaps {
    width: 100%;
    height: 100%;
  }
  .mapaSucursal {
    width: 100%;
  }
  .card {
    margin: 0 auto;
    width: 90% !important;
  }
}
@media all and (min-width: 590px) and (max-width: 770px) {
  .card-img-top {
    height: 100%;
    width: 100%;
  }
}
.imagenHistoria {
  background-image: url(../img/historia.jpg);
}

.parrafoImagenesHistoria {
  display: grid;
  grid-template-areas: "parrafoHistoria1 imagen1" "imagen2 parrafoHistoria2" "imagen3 imagen4";
  justify-content: center;
  gap: 22px;
  padding-top: 70px;
}

.parrafoHistoria1,
.parrafoHistoria2 {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.parrafoHistoria1 p,
.parrafoHistoria2 p {
  font-size: 1rem;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
  width: 450px;
}

.parrafoHistoria1 {
  grid-area: parrafoHistoria1;
  width: 450px;
  height: 350px;
}

.imagen1 {
  grid-area: imagen1;
}

.imagen2 {
  grid-area: imagen2;
}

.imagen3 {
  grid-area: imagen3;
}

.imagen4 {
  grid-area: imagen4;
}

.parrafoHistoria2 {
  grid-area: parrafoHistoria2;
  width: 450px;
  height: 350px;
}

@media all and (max-width: 950px) {
  .parrafoImagenesHistoria {
    grid-template-areas: "parrafoHistoria1" "imagen1" "imagen2" "parrafoHistoria2" "imagen3" "imagen4";
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .parrafoHistoria1 p, .parrafoHistoria2 p {
    font-size: 0.75rem;
    margin: 0 auto;
  }
  .parrafoHistoria1 {
    width: 300px;
    height: 233.33px;
  }
  .imagen1 {
    width: 300px;
    height: 233.33px;
  }
  .imagen2 {
    width: 300px;
    height: 233.33px;
  }
  .imagen3 {
    width: 300px;
    height: 233.33px;
  }
  .imagen4 {
    width: 300px;
    height: 233.33px;
  }
  .parrafoHistoria2 {
    width: 300px;
    height: 233.33px;
  }
  main section div img {
    width: 300px;
    height: 233.33px;
  }
  .parrafoHistoria {
    margin: 0 auto;
    font-size: 18px;
    padding: 10%;
  }
}
main {
  background-color: #FDFAF6;
}
main .imagenCuadroImagenes {
  width: 100%;
}
main .cuatroImagenes {
  display: grid;
  grid-template-areas: "imagenA imagenB" "imagenC imagenD";
  gap: 22px;
  justify-content: center;
  width: 75%;
  margin: 0 auto 170px;
}
main .imagenA {
  grid-area: imagenA;
}
main .imagenB {
  grid-area: imagenB;
}
main .imagenC {
  grid-area: imagenC;
}
main .imagenD {
  grid-area: imagenD;
  position: relative;
}
main .imagenD a {
  text-decoration: none;
}
main .textoAhorra {
  position: absolute;
  bottom: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  color: black;
}
main .imagenPortadaIndex {
  background-image: url(../img/nuevaportada.png);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px;
}
main .parrafoInspiracional {
  font-style: italic;
  font-size: 2rem;
  text-align: center;
  margin: 170px 250px;
  font-weight: 700;
}
main .compraProductosDeCalidad {
  font-size: 20px;
}
main .empresaFamiliar {
  border-left: solid black 3px;
  border-right: solid black 3px;
  font-size: 20px;
}
main .nuestrosMediosDePago {
  font-size: 20px;
}
main .clientesFelices {
  margin-top: 100px;
  height: 70px;
}
main .tituloTestimonios {
  text-align: center;
}
main .cajaTestimonio {
  display: flex;
  width: 290px;
  background-color: rgb(228, 239, 231);
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 0 30px;
  transition: 1s;
}
main .cajasTestimonios2 {
  display: flex;
  justify-content: space-around;
  margin: 40px;
  width: 70%;
  height: 200px;
}
main .textosCajas {
  text-align: center;
}

@media all and (max-width: 768px) {
  main {
    padding-bottom: 0px;
  }
  main .imagenPortadaIndex {
    height: 320px;
  }
  main .parrafoInspiracional {
    margin: 70px auto;
    width: 90%;
    font-size: 1.2rem;
  }
  main .cuatroImagenes {
    grid-template-areas: "imagenA" "imagenB" "imagenC" "imagenD";
    margin: 70px auto;
    width: 90%;
  }
  main .imagenCuadroImagenes {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  main .textoAhorra {
    top: -90px;
    margin: 0 auto;
    font-size: 24px;
    height: 90px;
    width: 90%;
    position: relative;
  }
  main .bannerAcercaDe {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    row-gap: 18px;
  }
  main .compraProductosDeCalidad, main .empresaFamiliar, main .nuestrosMediosDePago {
    width: 100%;
  }
  main .empresaFamiliar {
    border-left: 0;
    border-right: 0;
    border-top: solid black 3px;
    border-bottom: solid black 3px;
    padding: 18px;
  }
  main .bannerAcercaDe p {
    margin: 0;
  }
  main .cajasTestimonios {
    height: 520px;
  }
  main .cajasTestimonios2 {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}
main .parrafoRrhh {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  margin: 64px 0 0 0;
}

.imagenRrhh {
  background-image: url(../img/rrhh.jpg);
}

.imagenMainHeader {
  position: relative;
  z-index: 1;
}
.imagenMainHeader::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.251);
  z-index: -1;
}

form {
  width: 500px;
  margin: 0 auto;
  padding: 64px 0;
  font-size: 20px;
}

.btn {
  background-color: black;
  border: black;
}

@media all and (max-width: 768px) {
  .parrafoRrhh {
    margin: 0 auto;
  }
  main form {
    width: 90%;
  }
  main form .aviso {
    font-size: 0.9rem;
  }
}
.parrafoPedidos {
  align-items: center;
  padding: 120px 100px 0;
  font-size: 1.3rem;
  font-weight: 600;
  font-style: italic;
}

.tituloCard {
  padding-top: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

.imagenPedidos {
  background-image: url(../img/pedidos.jpg);
}

.tamanioImagenPedidos {
  width: 400px;
}

.separacionImagenesProductos {
  padding-top: 120px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 52px;
  width: 90%;
  margin: 0 auto;
}

.cardProducto {
  text-align: center;
  border: solid black 1px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  padding-bottom: 10px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.cardProducto .botonCarrito {
  padding: 8px 20px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.tamanioImagenPedidos {
  width: 100%;
}

@media all and (max-width: 768px) {
  .separacionImagenesProductos {
    padding: 60px 0;
    grid-template-columns: 1fr;
    width: 90%;
  }
  .parrafoPedidos {
    padding: 76px 20px 0px;
    font-size: 1rem;
  }
  .tituloCard {
    padding: 20px;
  }
}
/* LAYOUT */
header .ticker {
  animation-duration: 13s !important;
}
header .transparent-header {
  background-color: rgba(255, 255, 255, 0.5);
}
header .logoPollito {
  width: 60px;
}
header .barraNavegacion {
  background-color: rgb(250, 241, 230) !important;
  text-decoration: none;
}
header .navbar-brand {
  margin: 0px 24px;
}
header .linkPestania {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
header p {
  margin: 0;
}
header nav ul {
  list-style-type: none;
}
header nav ul h1 {
  display: none;
}
header nav ul li {
  text-decoration: none;
  margin: 10px;
  font-size: 1.4rem;
  font-weight: 500;
}
header nav ul .nav-link {
  transition: 1s;
}
header nav ul .nav-link:hover {
  color: rgb(0, 0, 0) !important;
  font-weight: 700;
}
header section div p {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
}

footer {
  background-color: rgb(6, 68, 32);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
footer .logoWhatsapp {
  position: fixed;
  bottom: 40px;
  right: 55px;
  transition: 0.5s;
  height: 100px;
  width: 100px;
  z-index: 1;
}
footer .logoWhatsapp:hover {
  transform: scale(1.25, 1.25);
}
footer .encontranos {
  font-weight: 600;
}
footer .propiedadesTextoFooter {
  color: white;
}
footer .textosCajasFooter {
  flex-flow: column wrap;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

@media all and (max-width: 768px) {
  .footerElementos {
    padding: 5px;
    display: flex;
    justify-content: center;
  }
  .textosPrimerContenedorFooter {
    display: none;
  }
  .logoWhatsapp {
    height: 50px !important;
    width: 50px !important;
    right: 25px !important;
  }
}
* {
  box-sizing: border-box;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  overflow: hidden;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 100%;
  box-sizing: content-box;
}
.ticker-wrap .ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.5rem;
  color: white;
}

@media all and (max-width: 768px) {
  .ticker-wrap {
    height: 3rem;
  }
  .ticker-wrap .ticker {
    line-height: 3rem;
    height: 3rem;
  }
  .ticker-wrap .ticker__item {
    font-size: 1.1rem;
  }
}

/*# sourceMappingURL=style.css.map */
