header {
    .transparent-header {
        background-color: rgba(255, 255, 255, 0.5);
        }
    .logoPollito {
        width: 60px;
    }
    .barraNavegacion {
        background-color: rgb(250, 241, 230) !important;
        text-decoration: none;
    }
    .navbar-brand {
        margin: 0px 24px;
    }
    .linkPestania {
        text-decoration: none;
        font-size: $fuenteMediana;
        color: black;
    }
    p {
        margin: 0;
    }
    nav {
        ul {
            h1 {
                display: none;
            }
            li {
                text-decoration: none;
                margin: 10px;
                font-size: 1.4rem;
                font-weight: 500;
                }
                .nav-link {
                    transition: 1s;
                }
                .nav-link:hover {
                    color: rgb(0, 0, 0) !important ;
                    font-weight: 700;
                }
        list-style-type: none;
        }
    }
    section {
        div {
            p {
            width: 100%;
            text-align: center;
            background-color: black;
            color: $colorLetrasClaras;
            }
        }
    }
} 
