.imagenHistoria {
    background-image: url(../img/historia.jpg);
}
.parrafoHistoria {
    @extend .flex-center;
    padding: 200px 300px;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
}
@media all and (max-width: 768px) {
    .parrafoHistoria {
        @extend .flex-center;
        margin: 0 auto;
        font-size: 18px;
        padding: 10%;
    }
}