.imagenHistoria {
    background-image: url(../img/historia.jpg);
}

.parrafoImagenesHistoria {
    display: grid;
    grid-template-areas: "parrafoHistoria1 imagen1"
        "imagen2 parrafoHistoria2"
        "imagen3 imagen4";
    justify-content: center;
    gap: 22px;
    padding-top: 70px;
}

.parrafoHistoria1,
.parrafoHistoria2 {
    display: flex;
    align-items: center;
    padding: 1rem;

    p {
        font-size: 1rem;
        font-weight: 900;
        font-style: italic;
        text-align: center;
        margin: 0 auto;
        margin-top: 1rem;
        width: 450px;
    }
}

.parrafoHistoria1 {
    grid-area: parrafoHistoria1;
    width: 450px;
    height: 350px;
}

.imagen1 {
    grid-area: imagen1;
    @extend .divsGridHistoria;
}

.imagen2 {
    grid-area: imagen2;
    @extend .divsGridHistoria;
}

.imagen3 {
    grid-area: imagen3;
    @extend .divsGridHistoria;
}

.imagen4 {
    grid-area: imagen4;
    @extend .divsGridHistoria;
}

.parrafoHistoria2 {
    grid-area: parrafoHistoria2;
    width: 450px;
    height: 350px;
}

    @media all and (max-width: 950px) {
    .parrafoImagenesHistoria {
        grid-template-areas: "parrafoHistoria1"
            "imagen1"
            "imagen2"
            "parrafoHistoria2"
            "imagen3"
            "imagen4";
        width: 90%;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;    
    }
    .parrafoHistoria1, .parrafoHistoria2 {
    p {
        font-size: 0.75rem;
        margin: 0 auto;
    }
}
    .parrafoHistoria1 {
        width: 300px;
        height: 233.33px;
    }

    .imagen1 {
        width: 300px;
        height: 233.33px;
    }

    .imagen2 {
        width: 300px;
        height: 233.33px;
    }

    .imagen3 {
        width: 300px;
        height: 233.33px;
    }

    .imagen4 {
        width: 300px;
        height: 233.33px;
    }

    .parrafoHistoria2 {
        width: 300px;
        height: 233.33px;
    }

    main {
        section {
            div {
                img {
                    width: 300px;
                    height: 233.33px;
                }
            }
        }
    }


    .parrafoHistoria {
        margin: 0 auto;
        font-size: 18px;
        padding: 10%;
    }
}
