main {
    background-color: #FDFAF6;

    .imagenCuadroImagenes {
        width: 100%;
    }

    .cuatroImagenes {
        display: grid;
        grid-template-areas: "imagenA imagenB"
            "imagenC imagenD";
        gap: 22px;
        justify-content: center;
        width: 75%;
        margin: 0 auto 170px;
    }

    .imagenA {
        grid-area: imagenA;
    }

    .imagenB {
        grid-area: imagenB;
    }

    .imagenC {
        grid-area: imagenC;
    }

    .imagenD {
        grid-area: imagenD;
        position: relative;
    }

    .imagenD a {
        text-decoration: none;
    }

    .textoAhorra {
        position: absolute;
        bottom: 0px;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        color: black;
    }

    .imagenPortadaIndex {
        background-image: url(../img/nuevaportada.png);
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 650px;
    }

    .parrafoInspiracional {
        font-style: italic;
        font-size: 2rem;
        text-align: center;
        margin: 170px 250px;
        font-weight: 700;
    }

    .bannerAcercaDe {
        @extend .flex-center;
        @extend %estilosCajaAcercaDe;
    }

    .compraProductosDeCalidad {
        @extend .widthPaddingAcercaDe;
        font-size: $fuenteMediana;
    }

    .empresaFamiliar {
        @extend .widthPaddingAcercaDe;
        border-left: solid black 3px;
        border-right: solid black 3px;
        font-size: $fuenteMediana;
    }

    .nuestrosMediosDePago {
        @extend .widthPaddingAcercaDe;
        font-size: $fuenteMediana;
    }

    .clientesFelices {
        margin-top: 100px;
        height: 70px;
        @extend .flex-center;
    }

    .tituloTestimonios {
        text-align: center;
    }

    .cajaTestimonio {
        display: flex;
        width: 290px;
        background-color: rgb(228, 239, 231);
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
        padding: 0 30px;
        transition: 1s;
    }

    .cajasTestimonios2 {
        display: flex;
        justify-content: space-around;
        margin: 40px;
        width: 70%;
        height: 200px;
    }

    .textosCajas {
        @extend .flex-center;
        text-align: center;
    }
}

@media all and (max-width: 768px) {
    main {
        padding-bottom: 0px;

        .imagenPortadaIndex {
            height: 320px;
        }

        .parrafoInspiracional {
            margin: 70px auto;
            width: 90%;
            font-size: 1.2rem;
        }

        .cuatroImagenes {
            grid-template-areas: "imagenA"
                "imagenB"
                "imagenC"
                "imagenD";
            margin: 70px auto;
            width: 90%;
        }

        .imagenCuadroImagenes {
            width: 90%;
            margin: 0 auto;
            display: block;
        }

        .textoAhorra {
            top: -90px;
            margin: 0 auto;
            font-size: 24px;
            height: 90px;
            width: 90%;
            position: relative;
        }

        .bannerAcercaDe {
            margin-top: 0;
            flex-direction: column;
            align-items: center;
            padding: 10%;
            row-gap: 18px;
        }

        .compraProductosDeCalidad,
        .empresaFamiliar,
        .nuestrosMediosDePago {
            width: 100%;
        }

        .empresaFamiliar {
            border-left: 0;
            border-right: 0;
            border-top: solid black 3px;
            border-bottom: solid black 3px;
            padding: 18px;
        }

        .bannerAcercaDe {
            p {
                margin: 0;
            }
        }

        .cajasTestimonios {
            height: 520px;
        }

        .cajasTestimonios2 {
            flex-direction: column;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px
        }
    }
}