.parrafoPedidos {
    @extend .flex-center;
    align-items: center;
    padding: 120px 100px 0;
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
}
.tituloCard {
    padding-top: 10px ;
    font-size: 1.2rem;
    font-weight: 700;
}
.imagenPedidos {
    background-image: url(../img/pedidos.jpg);
}
.tamanioImagenPedidos {
    width: 400px;
}
.separacionImagenesProductos {
    padding-top: 120px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 52px;
    width: 90%;
    margin: 0 auto;
    } 
.cardProducto {
    text-align: center;
    border: solid black 1px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    .botonCarrito {
        padding: 8px 20px;
        background-color: black;
        color: white;
        border: 1px solid black;
        border-radius: 5px;
        
    }
    
}
.tamanioImagenPedidos {
    width: 100%;
}
@media all and (max-width: 768px){
.separacionImagenesProductos {
    padding: 60px 0;
    grid-template-columns: 1fr;
    width: 90%;
}
.parrafoPedidos {
    padding: 60px 40px 0px;
    font-size: 1rem;
}
}