main {
    padding-bottom: 70px;
    .tituloMainHeader {
        font-weight: 700;
        font-size: 50px;
    }
    .mainHeader {
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 400px;
    }
    .imagenMainHeader {
        color: $colorLetrasClaras;
        @extend .flex-center;
        flex-flow: column wrap;
        text-align: center;
    }
}
.parrafoPedidos {
    @extend .flex-center;
    align-items: center;
    padding: 120px 100px 0;
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
}
@media all and (max-width: 768px) {

    .tituloMainHeader {
        top: 150px;
        left: 220px;
        font-size: 3rem;
    }
}